﻿@model IEnumerable<kulyk08.Student>

<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h3>Students</h3>

<table style="width: 100%;">
    <tr>
        <th>FIO</th>
        <th>Birthday</th>
        <th>Enter date</th>
        <th>Age</th>
        <th>Faculty</th>
        <th>GroupIndex</th>
        <th>Specialty</th>
        <th>Performance</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@($"{s.LastName} {s.FirstName} {s.Patronymic}")</td>
            <td>@($"{s.BirthDate}")</td>
            <td>@($"{s.EnterDate}")</td>
            <td>@($"{s.Age(s)}")</td>
            <td>@($"{s.Faculty}")</td>
            <td>@($"{s.GroupIndex}")</td>
            <td>@($"{s.Specialization}")</td>
            <td>@($"{s.Performance}")</td>
        </tr>
    }
</table>